{
  git = {
    name = "Your Name";
    email = "you@example.com";
  };
  ssh = {
    identityFile = "~/.ssh/id_ed25519";
    signingKey = "~/.ssh/id_ed25519.pub";
    allowedSignersFile = "~/.ssh/allowed_signers";
  };
}
