{
  username = "chris";
  git = {
    name = "Your Name";
    email = "you@work.example.com";
  };
  ssh = {
    identityFile = "~/.ssh/id_ed25519_work";
    signingKey = "~/.ssh/id_ed25519_work.pub";
    allowedSignersFile = "~/.ssh/allowed_signers";
  };
  calendar = {
    delegateAccounts = [
      "delegate@example.onmicrosoft.com"
    ];
  };
}
